.text-bubble {
	display: inline-block; // Or use inline-flex if you need flexbox features
	background-color: rgba(255, 255, 255, 0.8); // Semi-transparent white
	padding: 6px;
	border-radius: 10px;
	line-height: 1; // Snug line height
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Optional
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); // Optional

	justify-self: bottom;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;

	// &.plant-title {
	// 	align-self: center
	// }

}
