@import "styles/variables";

$mobile-breakpoint: 1024px;
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 20px;
    box-sizing: border-box; // Ensures padding doesn't add to the width

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
    form {
        width: 100%;
        max-width: 1200px;
    }
}

textarea,
input {
    padding: 16px;
    box-sizing: border-box; // Ensures padding doesn't add to the width
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%; // Ensures the form row takes full width of its container
    margin: auto; // Centers the form row horizontally
    gap: 20px;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column; // Stacks form fields vertically on mobile
        gap: 10px; // Reduces gap between fields for a tighter mobile layout
    }

    .message-column {
        flex: 1 1 50%;
        textarea {
            height: 100%;
            width: 100%;
        }
        // Adjustments for mobile
        @media (max-width: $mobile-breakpoint) {
            flex: 1; // Take full width on mobile
        }
    }

    .info-column {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        // Adjustments for mobile
        @media (max-width: $mobile-breakpoint) {
            order: 1; // Name and email fields appear first on mobile
        }
    }
}

button[type="submit"] {
    padding: 10px;
    background-color: $sandia;
    color: $gold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
        background-color: #455b73; /* Darker shade for hover effect */
    }
}

.break {
    flex-basis: 100%;
    height: 0;
}

.error-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da; // Light red/pink background
    color: #721c24; // Dark red text color for contrast and accessibility
    border: 1px solid #f5c6cb; // Slightly lighter red border
    border-radius: 4px; // Rounded corners for a smoother look
    text-align: center; // Centers the text for better readability
    font-size: 16px; // Ensures the message is easily readable
    width: 100%; // Ensures the message stretches to the width of its container
    box-sizing: border-box; // Ensures padding doesn't add to the width

    // Optional: animation to get user attention
    animation: shake 1s ease-in-out;

    @keyframes shake {
        0%,
        100% {
            transform: scale(1);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: scale(1.05);
        }
        20%,
        40%,
        60%,
        80% {
            transform: scale(1);
        }
    }
}

.success-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda; // Light green background
    color: #155724; // Dark green text color for contrast and accessibility
    border: 1px solid #c3e6cb; // Slightly lighter green border
    border-radius: 4px; // Rounded corners for a smoother look
    text-align: center; // Centers the text for better readability
    font-size: 16px; // Ensures the message is easily readable
    width: 100%; // Ensures the message stretches to the width of its container
    box-sizing: border-box; // Ensures padding doesn't add to the width
}
