$gold: #ebf0c3;
$grass: #eff68fdd;
$sandia: #f36d7f;
$green: #00e404;
$link-color: #003880;
$dark-grey: #333;
$black: #110d0e;
$theme-color: $sandia;
$text-color-light: $gold;
$background-color: $black;
$error-color: #e74c3c;
$text-color: $black;
$font-stack: Helvetica, sans-serif;
$header-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-size: 16px;
$line-height: 1.5;
$container-width: 1200px;
$gutter: 15px;
